::root{
    --primary-font-family:"Poppins", sans-serif;
}

.container{
    max-width:1450px;;
    margin:0 auto;
}

body{
    margin:0;
    font-family:var(--primary-font-family);
    background:rgb(46, 52, 72);
}
section{
  max-width:1220px;
  margin:0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0,0, 0.6)),
      url("../images/porto-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
  }

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
  }
  
  header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
  }
  
  header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
  }
  
  header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #16006e;
    padding: 16px 32px;
    margin-top: 32px;
    display: inline-block;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: white;
  }

  .img-responsive {

    display: block;
    max-width:100%;
  }

  main {
    background-color: white;
  }
  
  main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    color: #272044;
    opacity: 0.3;
    text-transform: uppercase;
  }
  
  main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
  }
  
  main h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #272044;
    margin: 0;
  }
  
  main h5 {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    line-height: 1;
    color: #272044;
  }
  
  main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;
  }
  
  .grid {
    display: grid;
    margin:0 auto;
    
  }
  .grid-2-columns{
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    padding:20px 0 20px 0;
  }
  .grid-3-columns{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    padding:20px 0;
  }
  footer{
    color:white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("../images/porto-footer.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    padding:80px 0;
  }

  footer h3{
  font-weight:700;
  font-size:20px;
  line-height:30px;
  }

  footer p{
    font-weight:400;
    font-size:16px;
    opacity:0.7;
    margin-right:20px;
    line-height:24px;

  }

  footer ul{
    padding:0;

  }

  footer li{
    list-style:none;
    margin:0;
    padding:0;

  }

  footer a{
    color:white;
    opacity:0.7;
  }
  
  
 /* Estilo para os cards com a perspectiva para o efeito de flip */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px; /* Ajusta a altura conforme necessário */
  perspective: 1000px; /* Dá a sensação de profundidade para o flip */
}

/* Card interno (div que contém a frente e o verso) */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Preserva a 3D para o flip */
  transition: transform 0.6s; /* Efeito suave para o flip */
}

/* Quando o card for virado ao passar o mouse */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Faz o card virar */
}

/* A parte da frente do card (onde ficam a imagem, nome e morada) */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde a frente quando virar */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem cobrir todo o card */
  border-radius: 8px;
}


.flip-card-front h4 {
  font-size: 20px;
  font-weight: 700;
  position:absolute;
  color:white;
  text-shadow:2px 2px 4px rgba(0,0,0,0.6), -2px -2px 4px rgba(0,0,0,0.6);
}

/* A parte de trás do card (onde ficam as informações extras) */
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde o verso quando virar */
  background-color: #fff;
  color: black;
  transform: rotateY(180deg); /* Faz a parte de trás aparecer quando virar */
  padding: 20px;
  overflow-y: auto;
}

/* Ajuste de fontes e espaçamento da parte de trás do card */
.flip-card-back h4 {
  margin-bottom: 5px;
  font-size:14px;
}
.flip-card-back h5 {
  margin-bottom: 10px;
  font-size:10px;
}

.flip-card-back p {
  margin-bottom: 15px;
  font-size:12px;
}

.flip-card-back iframe {
  width: 100%;
  height: 200px; /* Ajusta a altura do mapa */
}

.btn{
  display: inline-block;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #2E3448;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

  @media (max-width: 960px) {
    header {
      padding: 60px 0;
    }
  
    header h1 {
      font-size: 48px;
    }
  
    header h2 {
      font-size: 20px;
    }
  
    header h3 {
      font-size: 12px;
    }
  }